
<style>
@import url('https://fonts.googleapis.com/css?family=Baloo+2|Liu+Jian+Mao+Cao|Open+Sans+Condensed:300&display=swap');
</style>




body{
  color:#white;
font-family: 'Open Sans Condensed', sans-serif;
}

h1{
  font-size: 3em;
  margin-bottom: 1em;
}
h2{
  font-size: 2em;
  margin-bottom: 0.65em;
}


figcaption{
  font-size: 0.75em;
  font-style: italic;
}
